<app-header></app-header>
  <button class="toggle-btn" (click)="toggleSidebar()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-blockquote-right"
      viewBox="0 0 16 16">
      <path
        d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1zm10.113-5.373a7 7 0 0 0-.445-.275l.21-.352q.183.111.452.287.27.176.51.428.234.246.398.562.164.31.164.692 0 .54-.216.873-.217.328-.721.328-.322 0-.504-.211a.7.7 0 0 1-.188-.463q0-.345.211-.521.205-.182.569-.182h.281a1.7 1.7 0 0 0-.123-.498 1.4 1.4 0 0 0-.252-.37 2 2 0 0 0-.346-.298m-2.168 0A7 7 0 0 0 10 6.352L10.21 6q.183.111.452.287.27.176.51.428.234.246.398.562.164.31.164.692 0 .54-.216.873-.217.328-.721.328-.322 0-.504-.211a.7.7 0 0 1-.188-.463q0-.345.211-.521.206-.182.569-.182h.281a1.8 1.8 0 0 0-.117-.492 1.4 1.4 0 0 0-.258-.375 2 2 0 0 0-.346-.3z" />
    </svg>
  </button>

  <div class="sidebar" [class.active]="topggelFlage" id="sidebar">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <mat-icon>dashboard</mat-icon>
            <span>Dashboard</span>
          </a>
          <!-- Invoices with submenu -->
          <mat-expansion-panel [expanded]="expandedPanel('invoices')" class="menu-expansion" >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>receipt</mat-icon>
                <span>Invoices</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/invoices/create" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>Create Invoice</span>
            </a>
            <a mat-list-item routerLink="/invoices/view" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <span>View Invoice</span>
            </a>
          </mat-expansion-panel>
        </mat-nav-list>
      </mat-sidenav>
    
      <!-- Main content -->
      <mat-sidenav-content>
        <div class="main-content">
        <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>