:host ::ng-deep .p-sidebar {
    width: 300px !important;
  }
  
  .sidebar {
    width: 250px;
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  .sidebar ul li ul {
    padding-left: 20px;
  }
  
  .sidebar ul li:hover {
    background-color: #ddd;
  }
  